/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
so the canvas is flush with the top left corner.

**********************************************/


body {
  font: 600 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #f69d75;
  color: #555555
}
canvas {
margin-left: 700px;
margin-top: -300px;
}
p {
  width: 500px;
  height: 250px;
 padding: 10px;
 border: 5px solid gray;
 margin: 0;
}
